*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html
{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    /* position: relative; */
}

a
{
    text-decoration: none;
    color: hotpink;
}
.about_us{
    letter-spacing: 1px;
    word-spacing: 2.5px;
}

.title_about_us
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
    font-size: 40px;
    font-weight: lighter;
}
.about_us h4
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:10px;
    font-size: 20px;
}
.line
{
    display: block;
    width:7%;
    border-bottom: turquoise solid 3.5px;
    margin-left: auto;
    margin-right: auto;
    margin-top:1% ;
    margin-bottom: 1%;
}
.book_img
{
    float: right;
    margin:5% 5% auto auto;
    width:33.5%;
    height: auto; 
}
.about_txt
{
    float: left;
    margin:10% auto auto 5%;
    width:50%;
    height: auto;
    font-size: 18.5px;
}
